# My Jupyter Notebook on IBM Watson Studio

**Sanjay Kumar**
 
 Senior Installation Rep
 
 Data scientists

*I am interested in data science because I would love to contribute towards affordable and quality healthcare in the future. I have 10 years healthcare domain experience  and I can increase productivity  and Quality in process by analysis data and trend of error in process.*

### This program calculate number of seconds in four years

In [5]:
# Create variables
num_years = 4
days_per_year = 365 
hours_per_day = 24
mins_per_hour = 60
secs_per_min = 60

#Calculate number of seconds in four years
print("Below is number of second in four years")
total_secs = secs_per_min * mins_per_hour * hours_per_day * days_per_year * num_years
print(total_secs)

Below is number of second in four years
126144000

<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>

<h2>A basic HTML table</h2>

<table style="width:100%">
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
</table>

<p>To undestand the example better, we have added borders to the table.</p>

</body>
</html>

 Ordered list
 1. Sanjay kumar
 2. Devesh Kumar
 3. Yogesh Kumar
 4. Pawan Kumar
 
 [ this is link to google home page](https://www.google.com)